<main>
  <div class="app-header">
    <h2 style="margin: 0 0 0 10px;">Frank Zappa discography</h2>
    <div class="display-mode-selector">
      <a [class.active]="displayMode == 'list'" href="#" (click)="setDisplayMode('list')">
        <i class="fa fa-th-list fa-2x"></i>
      </a>
      <a [class.active]="displayMode == 'grid'" href="#" (click)="setDisplayMode('grid')">
        <i class="fa fa-camera-retro fa-2x"></i>
      </a>
    </div>
  </div>

  <div class="app-main">
    <div *ngIf="displayMode == 'grid'">
      <div class="album-grid-item" *ngFor="let album of albums$ | async">

        <img [src]="'assets/img/default-cover.jpg'"
             [lazyLoad]="'assets/img/covers/'+album.uuid+'.jpg'"
             [offset]="'100'">

        <!--<img src="assets/img/covers/{{album.uuid}}.jpg">-->
        <div *ngIf="album.owned" class="owned"><i class="fa fa-check-square-o fa-2x"></i></div>
        <div class="year">{{album.year}}</div>
      </div>
    </div>

    <div *ngIf="displayMode == 'list'">
      <table *ngIf="albumsCount">
        <thead>
        <tr>
          <th></th>
          <th>Album ({{albumsCount}})</th>
          <th>Year</th>
          <th>Owned</th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let album of albums$ | async">
        <tr>
          <td>
                 <span *ngIf="editing[album.$key]"
                       (click)="editing = {};"><i
                   class="fa fa-times-circle-o fa-2x"></i></span>
            <span *ngIf="!editing[album.$key]"
                  (click)="editing = {}; editing[album.$key] =! editing[album.$key]"><i
              class="fa fa-pencil-square-o fa-2x"></i>
       </span>
          </td>
          <td *ngIf="!editing[album.$key]">
            <h4>{{album.name}}</h4>
          </td>
          <td *ngIf="editing[album.$key]">
            <form name="updateAlbum">
              <input appAutoFocus name="name" type="text" [(ngModel)]="album.name">
              <input name="year" type="number" [(ngModel)]="album.year">
              <div>
                <button type="button" class="button-outline" (click)="editing = {}">Cancel</button>
                <button type="submit" (click)="updateAlbum(album); $event.preventDefault();">Save</button>
              </div>
              uuid: {{album.uuid}}
            </form>
          </td>
          <td>
            {{album.year}}
          </td>
          <td>
            <input type="checkbox"
                   [(ngModel)]="album.owned"
                   (change)="setOwned(album)">
          </td>
          <td>
            <span (click)="deleteAlbum(album);"><i class="fa fa-trash-o fa-2x"></i></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <table>
      <tbody *ngIf="!newalbum">
      <tr>
        <td>
          <span (click)="editing = {}; newalbum = true">
            <i class="fa fa-plus-square-o fa-2x"></i>
          </span>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>

      <tbody *ngIf="newalbum">
      <tr>
        <td></td>
        <td>
          <h2>New album</h2>
          <form name="newalbum">
            name: <input appAutoFocus type="text" name="name" [(ngModel)]="n.name">
            year: <input type="number" name="year" [(ngModel)]="n.year">
            <button class="button-outline" type="button" (click)="newalbum = false">Cancel</button>
            <button class="button" type="submit" (click)="createAlbum(n)">Create album</button>
          </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <button class="button" (click)="albumService.removeAll();">Delete all albums</button>
    <button class="button-outline" (click)="albumService.fromBackup();">Restore from backup</button>

  </div>

  <img
    sizes="(max-width: 1400px) 100vw, 1400px"
    srcset="
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_200.jpg 200w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_449.jpg 449w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_625.jpg 625w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_771.jpg 771w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_894.jpg 894w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_1021.jpg 1021w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_1146.jpg 1146w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_1264.jpg 1264w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_1371.jpg 1371w,
assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_1400.jpg 1400w"
    src="assets/img/zappa-rock-stars-and-parents_tpdj1i_c_scale,w_1400.jpg"
    alt="">
</main>
